{% load static %}
{% load main_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% for section in sections %}
  {% if not section.hidden and not section.deleted %}
  <div class="btn-group">
    {% if section.should_display and section.url is not null and section.url|length > 0 %}
    <a class="btn btn-danger" href={{section.url}} role="button">
      {{section.title}}
    </a>
    {% else %}
    <button type="button" class="btn btn-danger">
      {{section.title}}
    </button>
    {% endif %}
    {% if subsections|filter_sections:section|length > 0 %}
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for subsection in subsections|filter_sections:section %}
        {% if not subsection.hidden and not subsection.deleted %}
          {% if perms.main.can_change_subsections %}
          <span class="dropdown-item">
            <a  href={{subsection.url}}>{{subsection.title}}</a>
            <i class="fas fa-edit"></i>
          </span>
          {% else %}
          <a class="dropdown-item" href={{subsection.url}}>{{subsection.title}}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if perms.main.can_add_subsections %}        
        <i class="dropdown-item fas fa-plus-square"></i>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
  {% if perms.main.can_add_sections %}
  <a class="btn btn-danger" href="add/section/" role="button">
    <i class="fas fa-plus-square"></i>
  </a>
  {% endif %}
</nav>
<div>
  {% block content %}{% endblock %}
</div>

</body>
</html>
