{% load static %}
{% load main_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={% url 'main_index' %}>Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% for section in sections %}
    {% if not section.hidden and not section.deleted or section.hidden and user.profile.moderator and not section.deleted and request.session.edit_mode or section.hidden and user.is_superuser and not section.deleted and request.session.edit_mode or section.hidden and user.is_staff and not section.deleted and request.session.edit_mode %}
    <div class="btn-group">
      {% if section.should_display and section.url is not null and section.url|length > 0 %}
      <a class="btn btn-danger" href={% url 'section' section_url=section.url %} role="button">
        {{section.title}}
      </a>
      {% else %}
      <button type="button" class="btn btn-danger">
        {{section.title}}
      </button>
      {% endif %}
      {% if request.session.edit_mode %}
        {% if user.profile.moderator or user.is_superuser or user.is_staff %}
          <a class="btn btn-danger" href={% url 'edit_section' section_id=section.id %} role="button">
            <i class="fas fa-edit"></i>
          </a>
        {% endif %}
      {% endif %}
      {% if subsections|filter_sections:section|length > 0 or user.profile.moderator and request.session.edit_mode or user.is_superuser and request.session.edit_mode or user.is_staff and request.session.edit_mode %}
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for subsection in subsections|filter_sections:section %}
          {% if not subsection.hidden and not subsection.deleted %}
            {% if user.profile.moderator and request.session.edit_mode or user.is_superuser and request.session.edit_mode or user.is_staff and request.session.edit_mode %}
            <span class="dropdown-item">
              <a  href={{subsection.url}}>{{subsection.title}}</a>
              <a  href={% url 'edit_subsection' subsection_id=subsection.id %} role="button">
                <i class="fas fa-edit"></i>
              </a>
            </span>
            {% else %}
              <a class="dropdown-item" href={% url 'subsection' section_url=section.url subsection_url=subsection.url %}>{{subsection.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if request.session.edit_mode %}
          {% if user.profile.moderator or user.is_superuser or user.is_staff %}
            <a class="dropdown-item" href={% url 'add_subsection' section_id=section.id %} role="button">      
              <i class="fas fa-plus-square"></i>
            </a>
          {% endif %}
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
  {% if request.session.edit_mode %}
    {% if user.profile.moderator or user.is_superuser or user.is_staff %}
      <a class="btn btn-danger" href={% url 'add_section' %} role="button">
        <i class="fas fa-plus-square"></i>
      </a>
    {% endif %}
  {% endif %}
    <a href="/account/logout">Logout</a>
    <a href="/account/login">Login</a>
  {% if user.profile.moderator or user.is_superuser or user.is_staff %}
    {% if request.session.edit_mode %}
      <form method='post'>
        {% csrf_token %}
        <input type="submit" name="normal_mode" value="Normal mode"/>
      </form>
    {% else %}
      <form method='post'>
        {% csrf_token %}
        <input type="submit" name="edit_mode" value="Edit mode"/>
      </form>
    {% endif %}
  {% endif %}
  {% if request.session.edit_mode %}
    <a>EditModeTest</a>
  {% endif %}
</nav>
<div>
  {% block content %}{% endblock %}
</div>

</body>
</html>
